#title {
    position: relative;
    top: 1vh;
    text-align: center;
    font-family: "Cantarell";
}

#subtitle {
    position: relative;
    font-size: 2vh;
    text-align: center;
    font-family: "Cantarell";
}
